extends ../layout

block content
    h2 Login
    p= "flashMessage: "+flashMessage
    p
      a(href='/users/new', class='button') Register 
    form(method='post', action='/sessions')
      div
        label Username:
        input(name='username')
      div
        label Password:
        input(name='password', type='password')
      div
        input(type='submit', value='Login')
        
    // Scripts 
    script(src='/javascripts/lib/jquery-1.7.2.min.js', type='text/javascript')