extends ../layout

block content
    h2 Login
    p
      a(href='/users/new', class='button') Register 
    form(method='post', action='/sessions')
      div
        label Username:
        input(name='user[username]', value=user.username || '')
      div
        label Password:
        input(name='user[password]', value=user.password || '', type='password')
      div
        input(type='checkbox', name="remeberMe")
        input(type='submit', value='Login')
        
    // Scripts 
    script(src='/javascripts/lib/jquery-1.7.2.min.js', type='text/javascript')